{{ define "main" }}
<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1 class="h2">{{ .Title }}</h1>
    </div>
  </div>

  {{/* Helper to render a level block */}}
  {{- $pages := .Pages -}}
  {{- $renderLevel := func (dict "level" "" "title" "" ) -}}
    {{- $lvl := .level -}}
    {{- $title := .title -}}
    {{- $items := where $pages ".Params.level" "==" $lvl -}}
    {{- if gt (len $items) 0 -}}
      <div class="row">
        <div class="col-12 text-center mb-3">
          <div class="h4" style="color: #cfd8e3;">{{ $title }}</div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center g-4 sponsors sponsors-{{ $lvl }}">
        {{- range $items -}}
          {{- $logo := .Resources.GetMatch "img/logo*" -}}
          {{- if not $logo -}}
            {{- $logo = .Resources.GetMatch "img/*" -}}
          {{- end -}}
          {{- $href := .Params.website | default .RelPermalink -}}
          <div class="col-6 col-md-4 col-lg-3 text-center">
            <a href="{{ $href }}" target="_blank" rel="noopener" class="d-inline-block p-2">
              {{- if $logo -}}
                <img src="{{ $logo.RelPermalink }}" alt="{{ .Title }} logo" class="img-fluid" style="max-height: 110px; object-fit: contain;" />
              {{- else -}}
                <div class="text-white-50">{{ .Title }}</div>
              {{- end -}}
            </a>
          </div>
        {{- end -}}
      </div>
      <div class="my-4"></div>
    {{- end -}}
  {{- end -}}

  {{- $renderLevel (dict "level" "venue"  "title" "Venue") -}}
  {{- $renderLevel (dict "level" "gold"   "title" "Gold") -}}
  {{- $renderLevel (dict "level" "silver" "title" "Silver") -}}
  {{- $renderLevel (dict "level" "bronze" "title" "Bronze") -}}
</div>
{{ end }}


