{{- $loc := lower (default "" .location) -}}
{{- $page := .page -}}
{{- $isBalticCity := or (in $loc "tallinn") (or (in $loc "gdansk") (or (in $loc "gdańsk") (or (in $loc "gdynia") (or (in $loc "sopot") (or (in $loc "copenhagen") (or (in $loc "københavn") (or (in $loc "malmo") (or (in $loc "malmö") (or (in $loc "stockholm") (or (in $loc "helsinki") (or (in $loc "turku") (or (in $loc "riga") (or (in $loc "klaipeda") (in $loc "klaipėda")))))))))))))) -}}
{{- if in $loc "estonia" -}}<span class="flag-emoji">🇪🇪</span>{{- end -}}
{{- if in $loc "poland" -}}<span class="flag-emoji">🇵🇱</span>{{- end -}}
{{- if or (in $loc "italy") (in $loc "italia") -}}<span class="flag-emoji">🇮🇹</span>{{- end -}}
{{- if in $loc "lithuania" -}}<span class="flag-emoji">🇱🇹</span>{{- end -}}
{{- if in $loc "latvia" -}}<span class="flag-emoji">🇱🇻</span>{{- end -}}
{{- if in $loc "finland" -}}<span class="flag-emoji">🇫🇮</span>{{- end -}}
{{- if in $loc "sweden" -}}<span class="flag-emoji">🇸🇪</span>{{- end -}}
{{- if in $loc "germany" -}}<span class="flag-emoji">🇩🇪</span>{{- end -}}
{{- if or (in $loc "united kingdom") (in $loc "uk") (in $loc "england") (in $loc "scotland") (in $loc "wales") -}}<span class="flag-emoji">🇬🇧</span>{{- end -}}
{{- if or (in $loc "united states") (in $loc "usa") (in $loc "us") (in $loc "america") -}}<span class="flag-emoji">🇺🇸</span>{{- end -}}
{{- if in $loc "ireland" -}}<span class="flag-emoji">🇮🇪</span>{{- end -}}
{{- if in $loc "denmark" -}}<span class="flag-emoji">🇩🇰</span>{{- end -}}
{{- if in $loc "norway" -}}<span class="flag-emoji">🇳🇴</span>{{- end -}}
{{- if in $loc "spain" -}}<span class="flag-emoji">🇪🇸</span>{{- end -}}
{{- if in $loc "france" -}}<span class="flag-emoji">🇫🇷</span>{{- end -}}
{{- if in $loc "netherlands" -}}<span class="flag-emoji">🇳🇱</span>{{- end -}}
{{- if in $loc "belgium" -}}<span class="flag-emoji">🇧🇪</span>{{- end -}}
{{- if in $loc "austria" -}}<span class="flag-emoji">🇦🇹</span>{{- end -}}
{{- if in $loc "switzerland" -}}<span class="flag-emoji">🇨🇭</span>{{- end -}}
{{- if in $loc "georgia" -}}<span class="flag-emoji">🇬🇪</span>{{- end -}}
{{- if in $loc "mexico" -}}<span class="flag-emoji">🇲🇽</span>{{- end -}}
{{- if in $loc "slovakia" -}}<span class="flag-emoji">🇸🇰</span>{{- end -}}
{{- /* explicit per-speaker override: if front matter sets baltic:true, also show wave */ -}}
{{- if or $isBalticCity (and $page $page.Params.baltic) -}}<span class="baltic-emoji">🌊</span>{{- end -}}

