{{ define "main" }}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-4">
      <h1 class="h2 m-0">{{ .Title }}</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      {{ .Content }}
    </div>
  </div>

  {{- with .Pages }}
  <div class="row g-3 mt-4">
    {{- range . }}
      <div class="col-12">
        <a href="{{ .RelPermalink }}" class="text-reset">{{ .Title }}</a>
      </div>
    {{- end }}
  </div>
  {{- end }}
</div>
{{ end }}


